*{margin:0px;padding:0px;}
body{
	/*background-color:#56A36C;
	background-repeat: no-repeat;*/
	background-repeat:repeat;
	background-attachment:fixed;
	font-family:"微软雅黑";
}
#blogView{
	width:1000px;
	margin:0px auto;
}

#content{
	 width:100%; 
	 overflow:hidden;
	 padding-bottom:10px;
	 margin-bottom:45px;
}
#left{
	width:70%;
	float:left;
}
/*最新博客部分*/
#topicList{
	width:100%;
	margin-bottom:15px;
}
.topicList_topic{
	width:100%;
	height:185px;
	margin-bottom:15px;
	background-color:#fff;
	cursor:pointer;
	border-radius:5px;
	/*box-shadow:#666 5px 5px 0px 0px;*/
}
.topicList_topic_img{
	float:left;
	width:185px;
	height:100%;
}
.topicList_topic_img img{
	width:100%;
	height:100%;
	border-radius:5px 0 0 5px;
}
.topicList_topic_text{
	overflow:hidden;
	margin:0px auto;
	padding-left:10px;
	height:100%;
}
.topicList_topic_text_title{
	font-size:18px;
	width:100%;
	height:30px;
	color:#222;
	line-height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.topicList_topic_text_info{
	width:100%;
	font-size:13px;
	height:20px;
	line-height:20px;
	color:#222;
}
.topicList_topic_text_info div{
	float:left;
	margin-right:20px;
}
.topicList_topic_text_content{
	font-size:15px;
	color:#666;
	overflow:hidden;
	width:100%;
	height:130px;
	line-height:19px;
	word-wrap: break-word;
}

#page{
     width:100%; 
	 height:30px;
	 text-align:center;
	 line-height:30px;
	 font-size:15px;
	 border-radius:5px;
	 /*box-shadow:#666 5px 5px 0px 0px;*/
	 margin-bottom:5px;
	 display:none;
	 margin-bottom:45px;
	 
}
#page span input{
	height:23px;
	width:50px;
	font-size:15px;
	font-family:"微软雅黑";
	cursor:pointer;
	border-radius:5px;
	background-color:#499ead;
	color:#fff;
	-webkit-appearance: none; /*否则会有色差*/
}
#page #now_page{
	font-weight:bold;
}
#page span #page_num{
 cursor:auto;
 background-color:#fff;
 color:#000;
}
#right{
	width:28%;
	float:right;
	border-radius:5px;
	cursor:pointer;
}


